.Contacts {
  max-width: 1440px;
  margin: 0 auto;
  background: url(../../static/images/img/backimg.png);
  min-height: 520px;
  position: relative;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
}
.contact-container {
  margin-top: 5.1rem;
  display: flex;
  justify-content: space-between;

  gap: 10rem;
}
.contact-left {
  display: flex;
  flex-direction: column;
}
.contact-left span {
  color: var(--Grey-Scale-200, rgba(255, 255, 255, 0.5));
  /* Subtitles */
  font-family: Syne;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contact-left p {
  color: var(--Grey-Scale-200, rgba(255, 255, 255, 0.5));

  /* Body text 18 */
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* .contact-left {
  flex: ;
} */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  max-width: 558px;
}
.contact-input-div {
  display: flex;
  flex-direction: column;
  max-width: 558px;
}
.contact-input-div input {
  color: var(--Grey-Scale-200, rgba(255, 255, 255, 0.5));

  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: none;
  width: 100%;
  padding: 0.5 rem;
  margin-left: 0.8rem;
}
.contact-input-div input:active {
  border: none;
}
.contact-input-div span {
  width: 558px;
  height: 1px;
  background: #fff;
}
.contect-us {
  margin: 2rem 0;
  position: relative;
}
.get-in-touch {
  color: var(--Grey-scale-000, #fff);
  font-family: Syne;
  font-size: 8.4375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 8.5125rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.send {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.send-btn {
  border: 3px solid #f07e15;
  border-radius: 50%;
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--Pimary-colour, #f07e15);
  font-family: Work Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  line-height: 16px;
}

@media (max-width: 1080px) {
  .container {
    padding: 0 1rem;
  }
  .contact-input-div span {
    width: 430px;
  }
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .get-in-touch {
    font-size: 5rem;
    line-height: 5rem;
  }
  .send-btn {
    height: 120px;
    width: 120px;
    border: 2px solid #f07e15;
    font-size: 1rem;
  }
}
@media (min-width: 310px) and (max-width: 510px) {
  .get-in-touch {
    font-size: 3.4rem;
    line-height: 2.3rem;
  }
  .send-btn {
    height: 80px;
    width: 80px;
    border: 2px solid #f07e15;
    font-size: 1rem;
    /* margin-bottom: 60px; */
  }
  .send {
    /* position: absolute; */
    right: 1.9rem;
    top: 5px;
  }
  .contact-input-div span {
    width: 300px;
    height: 1px;
    background: #fff;
  }
  /* .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  } */
}
